@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FCFBF8; /* Light cream for default background */
  --foreground: #2A1F1D; /* Dark earthy tone for text */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
